body {
    background-color: pink;
}

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@900&display=swap');

/* container */
.xbox-container {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    font-family: 'Muli', sans-serif;
   
}


/* control shape */
.main {
    position: absolute;
    top: 50px;
   
    border-bottom: 300px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 400px;
    border-radius: 25px;
   z-index: 1;
   
    
  }

  .main1 {
    position: absolute;
    top: 50px;
   
    border-bottom: 300px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 400px;
    border-radius: 25px;
    box-shadow: -1em -1em 1.5em rgba(0, 0, 0, 0.6), 0 0 0 1px #aaa;
    z-index: 0;

    
  }

.side1{
    position: absolute;
    width: 200px;
    height: 400px;
    background: white;
    border-radius: 200px / 100px;
    transform: rotate(20deg);
    top: 18px;
    left: 150px;
    box-shadow: -1em -1em 1.5em rgba(0, 0, 0, 0.6), 0 0 0 1px #aaa, inset 40px 0px 20px rgba(0,0,0,0.3);
    border-top: 18px solid black;
  }


  .side2{
    position: absolute;
    width: 200px;
    height: 400px;
    background: white;
    border-radius: 200px / 100px;
    transform: rotate(-20deg);
    top: 18px;
    right: 250px;
    box-shadow: -1em -1em 1.5em rgba(0, 0, 0, 0.6), 0 0 0 1px #aaa, inset 40px 0px 20px rgba(0,0,0,0.2);
    border-top: 22px solid black;
  }


  .indent {
    position: absolute;
        border-bottom: 60px solid rgba(204, 204, 204,0.3);

        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 200px;
        transform: rotate(180deg);
        left: 60px;
        top: 15px;
        box-shadow:  inset 40px 0px 20px rgba(0,0,0,0.3);
      
      }

      .long {
        position: absolute;
        width: 330px;
        height: 14px;
        background-color: black;
        left: -10px;
        border-radius: 50px;
    }
  

   

      /* buttons */

      .buttony {
        width: 40px;
        height: 40px;
        background: rgb(29, 29, 29);
        border-radius: 50%;
        position: absolute;
       top: 60px;
       right: -30px;
       box-shadow:
		-0.2em -0.125em 0.125em rgba(0, 0, 0, 0.4), 
		0 0 0 0.04em rgba(0, 0, 0, 0.5), 
		0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
		-0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
        text-align: center;
        color: yellow;
        font-size: 1.5rem;
        line-height: 40px;
        background: linear-gradient(90deg,black  0%, rgb(48, 47, 47) 50%, rgb(15, 15, 15) 100%);;
      }

      .buttonx {
        width: 40px;
        height: 40px;
        background: rgb(29, 29, 29);
        border-radius: 50%;
        position: absolute;
       top: 100px;
       right: 10px;
       box-shadow:
		-0.2em -0.125em 0.125em rgba(0, 0, 0, 0.4), 
		0 0 0 0.04em rgba(0, 0, 0, 0.5), 
		0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
		-0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
        text-align: center;
        color: rgb(0, 153, 255);
        font-size: 1.5rem;
        line-height: 40px;
        background: linear-gradient(90deg,black  0%, rgb(48, 47, 47) 50%, rgb(15, 15, 15) 100%);;
      }

      .buttona {
        width: 40px;
        height: 40px;
        background: rgb(29, 29, 29);
        border-radius: 50%;
        position: absolute;
       top: 140px;
       right: -30px;
       box-shadow:
		-0.2em -0.125em 0.125em rgba(0, 0, 0, 0.4), 
		0 0 0 0.04em rgba(0, 0, 0, 0.5), 
		0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
		-0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
        text-align: center;
        color: lime;
        font-size: 1.5rem;
        line-height: 40px;
        background: linear-gradient(90deg,black  0%, rgb(48, 47, 47) 50%, rgb(15, 15, 15) 100%);;
      }

      .buttonb {
        width: 40px;
        height: 40px;
        background: rgb(29, 29, 29);
        border-radius: 50%;
        position: absolute;
       top: 100px;
       right: -70px;
       box-shadow:
		-0.2em -0.125em 0.125em rgba(0, 0, 0, 0.4), 
		0 0 0 0.04em rgba(0, 0, 0, 0.5), 
		0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
		-0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
        text-align: center;
        color: red;
        font-size: 1.5rem;
        line-height: 40px;
        background: linear-gradient(90deg,black  0%, rgb(48, 47, 47) 50%, rgb(15, 15, 15) 100%);;
      }


      
.button1 {
  width: 30px;
  height: 30px;
  background:white;;
  border-radius: 50%;
  position: absolute;
 top: 90px;
 left: 100px;
 box-shadow:
  -0.3em -0.125em 0.125em rgba(0, 0, 0, 0.4), 
  0 0 0 0.04em rgba(0, 0, 0, 0.5), 
  0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
  -0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
  text-align: center;
  color: black;;
  font-size: 1rem;
  line-height: 30px;
}



.button2 {
  width: 30px;
  height: 30px;
  background:white;;
  border-radius: 50%;
  position: absolute;
 top: 90px;
 left: 200px;
 box-shadow:
  -0.3em -0.125em 0.125em rgba(0, 0, 0, 0.4), 
  0 0 0 0.04em rgba(0, 0, 0, 0.5), 
  0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
  -0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
  text-align: center;
  color: black;;
  font-size: 1rem;
  line-height: 30px;
}


/* control sticks */


.circle2 {
    position: absolute;
    top: 150px;
    right: 30px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  cursor:pointer;
  background-color:#eeeeee;
  width:100px;
  height:100px;
  border-radius:50px;
  box-shadow: -7px -7px 20px 0px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px #0002,
              4px 4px 5px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001;
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);

}

.scroll {
    display: block;
    background: black;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin: 0;
    background: radial-gradient(circle at 100px 50px, rgb(54, 54, 54), rgb(0, 0, 0));
  }

  .inner {
    position: absolute;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  cursor:pointer;
  background-color:rgb(29, 28, 28);
  width:50px;
  height:50px;
  border-radius:50px;
  box-shadow: -7px -7px 20px 0px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px #0002,
              4px 4px 5px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001;
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
  }

  .inner-inner {
    width:30px;
    height:30px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255,0.1);
    background-color: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(207, 207, 207) 50%, rgba(255,255,255,1) 100%);
  }


  
.circle3 {
    position: absolute;
    top: -120px;
    left: -240px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  cursor:pointer;
  background-color:#eeeeee;
  width:100px;
  height:100px;
  border-radius:50px;
  box-shadow: -7px -7px 20px 0px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px #0002,
              4px 4px 5px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001,
              inset 0px 0px 0px 0px #fff9,
              inset 0px 0px 0px 0px #0001;
  transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);

}


/* arrow pad */
.circle {
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(207, 207, 207) 50%, rgba(255,255,255,1) 100%);
  border-radius: 50%;
  position: absolute;
 top: 160px;
  left: 50px;
}


.arrow1 {
    width: 90px;
    height: 30px;
    background-color: grey;
    position: absolute;
    left: 55px;
    top: 195px;
    border-radius: 5px;
    box-shadow:
    -0.2em -0.125em 0.125em rgba(0, 0, 0, 0.4), 
    0 0 0 0.04em rgba(0, 0, 0, 0.5), 
    0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset, 
    -0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
    background: linear-gradient(90deg, rgb(85, 85, 85) 0%, black 50%, rgb(53, 52, 52) 100%);;
}

.arrow2 {
    width: 90px;
    height: 30px;
    background-color: grey;
    position: absolute;
    left: 55px;
    top: 195px;
    border-radius: 5px;
    box-shadow:
    -0.2em -0.125em 0.125em rgba(0, 0, 0, 0.4), 
    0 0 0 0.04em rgba(0, 0, 0, 0.5), 
    0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset;
    background: linear-gradient(90deg, rgb(85, 85, 85) 0%, black 50%, rgb(32, 32, 32) 100%);;
    transform: rotate(90deg);
}